@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap'); */
html{
    scroll-behavior: smooth;
}
/*
    font-family: 'Ubuntu', sans-serif;
*/
body{
    scroll-behavior: smooth;
    background-color: #000 !important;
    min-height: 100vh;
    position: relative;
}
*,*::after,*::before{
    box-sizing: border-box !important;
    font-family: 'Poppins', sans-serif;
}
#header{
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0;
    background: rgba(0, 0, 0, 0.582);
    height: 100px;
    width: 100vw;
    padding: 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    /* backdrop-filter: blur(20px); */
}
.logo{
    top:0px;
    left:10px;
    z-index: 1;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin:10px 0!important;
    position: absolute;
}
#logo-id{
    font-size: 35px;
    font-family: Copperplate Gothic Bold;
    padding: 5px 10px;
}
.logo h1{
    position: relative;
    width: 250px;
    height: 75%;
    display: flex;
    align-items: center;
    margin: 2px 10px !important;
    justify-content: center;
    color:rgb(60, 241, 217);
    transition:all .5s;
    text-transform: uppercase;
    line-height: 80px;
    overflow: hidden;
    border-radius: 8px;
}
.logo h1::before{
    content: '';
    position: absolute;
    background-image:conic-gradient(
        rgba(0, 179, 250, 01),
        rgba(255, 0, 34, 01),
        rgba(26, 196, 226, 01),
        rgba(177, 10, 135, 01),
        rgba(0, 179, 250, 01),
        rgba(177, 10, 135, 01),
        rgba(255, 0, 34, 01),
        rgba(26, 196, 226, 01)
    );
    height: 500%;
    width: 300%;
    animation: anim 3s linear infinite;
}

.logo h1:hover::before{
    
    animation: anim .8s linear infinite;
}
section#home{
    margin-top: 110px !important;
}
.logo h1 span{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: absolute;
    inset: 2px;
    background: black;
    transition: all .5s ease-in-out;
}
.logo h1:hover span{
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 12px rgba(247, 236, 236, 0.699);
}
@keyframes anim{
    0%{
        transform: rotate(0deg) ;
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#navbar{
    position: absolute;
    width: calc(100% - 320px);
    height: 80px;
    right:32px;
    top:10px;
}
#navbar .list{
    position: absolute;
    inset:3px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}
#navbar .list::before{
    content: '';
    position: absolute;
    background-image:conic-gradient(
        rgba(0, 179, 250, 01),
        rgba(255, 0, 34, 01),
        rgba(26, 196, 226, 01),
        rgba(177, 10, 135, 01),
        rgba(0, 179, 250, 01),
        rgba(177, 10, 135, 01),
        rgba(255, 0, 34, 01),
        rgba(26, 196, 226, 01)
    );
    height: 1500%;
    width: 200%;
    animation: anim 3s linear infinite;
}
#navbar .list .ul-list{
    inset:1px;
    position: absolute;
    background-color: #000;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.ul-list ul{
    padding: 10px 20px;
    display: flex;
    position: relative;
    inset:1px;
    width: 100%;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}
.ul-list ul li{
    position: relative;
    margin: 5px;
    display: flex;
    align-items: center;
}
.ul-list ul li a{
    color: #fff;
    position: relative;
    width: 100%;height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    /* line-height: 60px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, cursive;
    letter-spacing: 1px;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
}
.ul-list ul li.active a{
    color: rgb(248, 200, 200) !important;
    /* box-shadow: ; */
}
.ul-list ul li a::before{
    content: '';
    position: absolute;
    width:100%;
    height: 3px;
    bottom: -5px;
    border-radius: 3px;
    background: #fff;
    transform-origin: right;
    transform: scaleX(0); 
    transition: transform .3s;
}
.ul-list ul li a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}
.navbar-btn{
    position: absolute;
    z-index: 10;
    right:30px;
    top:30px;
    padding: 0 !important;
    height: 40px;
    width: 50px;
    display: none !important;
    align-items: center;
    justify-content: center;
}
/* @media screen and (max-width:1000px) {
    .homeContent .right{
        display: none !important;
    }
    .homeContent .left{
        width: 100% !important;
        padding: 0px 30px !important;
        height: 100vh;
    }
}
@media screen and (max-width : 768px) {
    #navbar{
        display: none;
        width: 90% !important;
        top:100px !important;
        left: 0px !important;
    }
   .navbar-btn{
        display: flex !important; 
        flex-direction: column !important;
    }
    .nav-resp{
        flex-direction: column !important;
    }
}
@media screen and (min-width : 769px) {
    #header{
        height: 100px !important;
    }
    #navbar{
        display: block !important;
    }
}
@media screen and (max-width:375px) {
    .navbar-btn{
        right:0px !important;
    }
    #navbar a{
        font-size: 10px !important;
    }
}
@media screen and (max-width:810px) and (min-width:768px) {
    
    .ul-list ul li a{
        font-size: 14px !important;
    }
} */
.navbar-btn ion-icon{
    margin: 0;
    padding: 0;
    font-size: 40px;
}
/* 

--------------------------------

            home 

--------------------------------            
*/
.homeContent,
.aboutContent,
.educationContent,
.contactContent
{
    position: relative;
    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.homeContent .left{
    position: relative;
    height: 60vh;
    color: white;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homeContent .right{
    height: 100vh;
    width: 30vw; 
    position: relative;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
.homeContent .left p{
    position: relative;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
    color: rgb(240, 238, 238);
    font-family: 'Ubuntu',sans-serif;
}

.homeContent .left span.type{
    position: relative;
    color: rgb(57, 250, 250);
    text-transform: uppercase;
    font-family:'Poppins',sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow:
      0 0 7px #37fcf280,
      0 0 10px #8df0f394,
      0 0 21px #6be3f357;
}
.homeContent .left .name{
    text-shadow: none;
    color: rgb(170, 250, 239);
    font-size: 25px;
    font-weight: bold;
}
.homeContent .left span+p{    
    color: rgb(247, 241, 241);
    font-family: sans-serif;
    letter-spacing: 3px;
}
.homeContent .left .links{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.homeContent .left .links a{
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.homeContent .left .links a:nth-child(2){
    color: #2b2828;
    border-radius: 50%;
}
.homeContent .left .links a:nth-child(2):hover{
    color: #000000;
    transform: translateY(-6px);
}
.homeContent .left .links a:nth-child(1):hover{
    transform: translateY(-6px);
    color: rgb(16, 106, 148);
}
.homeContent .left .links a:nth-child(1){
    color: rgb(34, 135, 182);
    border-radius: 5px;
}
.homeContent .left .links a:nth-child(3):hover{
    transform: translateY(-6px);
    color: #187099;
}
.homeContent .left .links a:nth-child(3){
    border-radius: 50%;
    color: #228ec0;
}
.homeContent .left .links a ion-icon *{
    padding: 0px;
    margin: 0px;
}
.homeContent .left .links a ion-icon{
    font-size: 30px;
    background: #fff;
}
.homeContent > span{
    height: 200px;
    position: absolute;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        #00000000,
        #000000c4,
        #000000e5,
        #000000f8,
        #000
    );
    z-index: 1;
    bottom: 0;
}
.homeContent .right img{
    filter: grayscale(100%);
    position: absolute;
    bottom: 80px;
    width: 100%;
}
.custom-btn {
    color: #fff;
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}
.custom-btn {
    color: #fff;
    width: 150px;
    height: 40px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    line-height: 20px;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-13 {
    color: #0bf4f3;
    box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
    border: 1px solid #0bf4f3;
    z-index: 1;
  }
  .btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
    transition: all 0.3s ease;
  }
  .btn-13:hover {
    color: rgb(214, 241, 248) !important;
  }
  .btn-13:hover:after {
    top: 0;
    height: 100%;
  }
  .btn-13:active {
    top: 2px;
  }
  .btn-13 ion-icon.mb{
    position: absolute;
    right: 25px;
    top:50%;
    transform: translate(-50%,-50%);
  }
  .btn-13 ion-icon.ar{
    position: absolute;
    right: 5px;
    top:50%;
    transition: right .3s ease-in-out;
    transform: translate(-50%,-50%);
  }
  .btn-13:hover ion-icon.ar{
    position: absolute;
    /* right: 5px; */
    right:-02px;
    top:50%;
    transform: translate(-50%,-50%);
  }
  /* 
  -------------------------------------
    
                Projects
                
  -------------------------------------  
  */

.aboutContent{
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
}
.aboutContent .mainProjects{
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    gap:60px;
}
.aboutContent .miniProjects{
    min-height: 50vh;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    gap:30px;
    position: relative;
}
.aboutContent .mainProjects .projectDiv{
    min-height:300px ;
    width: 450px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 45px 1px rgba(211, 211, 211, 0.315);
    border: 1px solid rgb(95, 92, 92);
}
.aboutContent .mainProjects .projectDiv .projectHeading{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 5px;
}
.aboutContent .mainProjects .projectDiv .projectDescription{
    font-size: 15px;
    color: rgb(182, 181, 181);
    text-align:justify;
    margin: 10px 30px;
    line-height: 25px;
}
.aboutContent .mainProjects .projectDiv .projectTechnologies{
    margin-top: 10px;
}
.aboutContent .mainProjects .projectDiv .projectTechnologies .techHead{
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    margin-left: 5px;
    margin-bottom: 10px;
}
.aboutContent .mainProjects .projectDiv .projectTechnologies .techHead::after{
    content: ':';
    text-decoration: none;
    margin-left: 20px;
    color: lightgray;
}
.aboutContent .mainProjects .projectDiv .projectTechnologies .technologies{
    color:rgb(177, 175, 175);
    margin-left: 30px;
    text-transform: uppercase;
}
.aboutContent .mainProjects .projectDiv .projectLink{
    /* justify-content: center; */
    text-align: center;
    padding: 10px;
    /* position: absolute; */
}
.aboutContent .mainProjects .projectDiv .projectLink span{
    margin-top: 10px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 20px;
    color:red;
}
.aboutContent .mainProjects .projectDiv .projectLink a{
    color:cyan;
    text-decoration: none;
}
.aboutContent .mainProjects .projectDiv .projectLink a:hover{
    text-decoration: underline;
}
.aboutContent .projectHead{
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 24px;
    width: 100%;
    position: relative;
    padding-left: 13%;
}
.aboutContent .projectHead::after{
    height: 3px;
    width: 200px;
    content: '';
    position: absolute;
    left: 350px;
    top:15px;
    border-radius: 3px;
    background: rgba(202, 200, 200, 0.795);
}
.aboutContent .projectHead::before{
    content: '';
    height: 100%;
    width: 5px;
    position: absolute;
    background: rgba(211, 210, 210, 0.712);
    left:150px;
    border-radius: 4px;
}
.aboutContent .projectHead2{
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 24px;
    width: 100%;
    position: relative;
    padding-left: 13%;
}
.aboutContent .projectHead2::after{
    height: 3px;
    width: 200px;
    content: '';
    position: absolute;
    left: 380px;
    top:15px;
    border-radius: 3px;
    background: rgba(202, 200, 200, 0.795);
}
.aboutContent .projectHead2::before{
    content: '';
    height: 100%;
    width: 5px;
    position: absolute;
    background: rgba(211, 210, 210, 0.712);
    left:150px;
    border-radius: 4px;
}
.aboutContent .miniProjects .projectDiv{
    min-height:300px ;
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 45px 1px rgba(211, 211, 211, 0.315);
    border: 1px solid rgb(95, 92, 92);
}
.aboutContent .miniProjects .projectDiv .projectHeading{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 5px;
    text-transform: uppercase;
}
.aboutContent .miniProjects .projectDiv .projectDescription{
    color: rgba(185, 183, 183, 0.897);
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 10px;
}
.aboutContent .miniProjects .projectDiv .projectTechnologies{
    text-transform: uppercase;
    padding: 5px 5px 5px 20px;
}
.aboutContent .miniProjects .projectDiv .projectLink{
    color:crimson
}
.aboutContent .miniProjects .projectDiv .projectLink a{
    text-decoration: none;
    color:greenyellow
}
.aboutContent .miniProjects .projectDiv .projectLink a:hover{
    text-decoration: underline;
    color: #187099;
}